@model thcp.Models.Department

@{
    ViewData["Title"] = "Listado de Aplicaciones a Puestos";
}

<h2 class="nav-link text-success"><i class="fas fa-edit"></i> Formulario de Aspirantes</h2>

<hr />

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentName" class="control-label"></label>
                    <input asp-for="DepartmentName" class="form-control" />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentNumero" class="control-label"></label>
                    <input asp-for="DepartmentNumero" class="form-control" />
                    <span asp-validation-for="DepartmentNumero" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentDetalle" class="control-label"> </label>
                    <input asp-for="DepartmentDetalle" class="form-control" />
                    <span asp-validation-for="DepartmentDetalle" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentSexo" class="control-label"></label>
                    <input asp-for="DepartmentSexo" class="form-control" />
                    <span asp-validation-for="DepartmentSexo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentTelefono" class="control-label"></label>
                    <input asp-for="DepartmentTelefono" class="form-control" />
                    <span asp-validation-for="DepartmentTelefono" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentEdad" class="control-label"></label>
                    <input asp-for="DepartmentEdad" class="form-control" />
                    <span asp-validation-for="DepartmentEdad" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentEducacion" class="control-label"></label>
                    <input asp-for="DepartmentEducacion" class="form-control" />
                    <span asp-validation-for="DepartmentEducacion" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentEspecialidad" class="control-label"></label>
                    <input asp-for="DepartmentEspecialidad" class="form-control" />
                    <span asp-validation-for="DepartmentEspecialidad" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentIdioma" class="control-label"></label>
                    <input asp-for="DepartmentIdioma" class="form-control" />
                    <span asp-validation-for="DepartmentIdioma" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentSalario" class="control-label"></label>
                    <input asp-for="DepartmentSalario" class="form-control" />
                    <span asp-validation-for="DepartmentSalario" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentRecursos" class="control-label"></label>
                    <input asp-for="DepartmentRecursos" class="form-control" />
                    <span asp-validation-for="DepartmentRecursos" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="DepartmentPuesto" class="control-label"></label>
                    <input asp-for="DepartmentPuesto" class="form-control" />
                    <span asp-validation-for="DepartmentPuesto" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-sm-12 m-2">
                    <button type="submit" class="btn btn-primary float-right m-1"><i class="fas fa-save"> Guardar</i> </button>
                    <a asp-action="Index" class="btn btn-warning float-right m-1"><i class="fas fa-backward"></i> Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}