@model thcp.Models.Proyecto

@{
    ViewData["Title"] = "Aprobar Candidato";
}

<h1 class="nav-link text-success" ><i class="fas fa-person-booth"></i>Aprobar Candidato</h1>

<h4>Seleccione el Candidato a Aprobar</h4>
<hr />
<div class="row ">
    <div class="col-md-4 bg-primary">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DepartmetId" class="control-label">Seleccione el Candidato</label>
                <select asp-for="DepartmetId" class="form-control" asp-items="ViewBag.DepartmetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProyectoResidence" class="control-label">Detalles de Contratacion</label>
                <input asp-for="ProyectoResidence" class="form-control" />
                <span asp-validation-for="ProyectoResidence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form> 
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
