@{
    ViewData["Title"] = "Delta SA";
}
<div class="row m-4 " >

    <div class="col-sm-6 m-4 mt-5">
        <h3 class="text-warning">Bienvenidos </h3>
        <h1 class="text-white"> Sistema de RRHH DELTA SA </h1>
    </div>
    <div class="col-sm-4 m-4">
        <img src="./header.jpg" alt="title" class="w-400 h-400 rounded"/>
    </div>
</div>