@{
    ViewData["Title"] = "Delta SA";
}

<div class="text-center">
    <h1> Bienvenidos (as) </h1>
    <h3> Sistema de RRHH DELTA SA</h3>
    <p>
    </p>
</div>
<tbody>
    <img src="https://factorcapitalhumano.com/wp-content/uploads/2019/06/Tips-Reclutamiento-de-personal.jpg" style="width:1100px">
</tbody>
